footer
  .container.text-center
    p.pull-left MIT license
    ul.pull-right.list-inline
      li
        a(href='https://github.com/Bango1999/Multiplayer-Arena') GitHub Project
      li
        a(href='https://github.com/Bango1999/Multiplayer-Arena/issues') Issues
